<nav class="noty-nav">
  <a href="/index.html" class="noty-nav-brand">Home</a>
  <ul class="noty-nav-list">
    <li><a href="/areas/index.html">Areas</a></li>
    <li><a href="/projects/index.html">Projects</a></li>
    <li><a href="/personal/index.html">Personal</a></li>
    <li><a href="/pages/manual.html">Manual</a></li>
    <li><a href="/logs/index.html">Logs</a></li>
  </ul>
  <div class="noty-nav-actions">
      {{pdf_button}}
    <button class="theme-toggle" type="button" title="Toggle theme">🌓</button>
    <button class="sidenote-toggle" type="button" title="Toggle notes">☰</button>
    <button class="code-toggle-all" type="button" title="Collapse/expand all code">⤵ code</button>
  </div>
</nav>
