<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{meta_description}}">
  <meta name="keywords" content="{{keywords}}">
  <link rel="stylesheet" href="{{css_main}}">
  <link rel="stylesheet" href="{{css_theme}}" id="noty-theme">
</head>
<body class="noty-maths">
  <header class="noty-header">
    {{header}}
  </header>
  <main class="page">
    <aside class="left-bar">
      <div id="toc"></div>
    </aside>
    <article class="content noty-article noty-article-maths">
      <h1 class="noty-title">{{title}}</h1>
      {{content}}
    </article>
    <aside class="noty-sidebar">
      {{shadow_index}}
    </aside>
  </main>
  <footer class="noty-footer">
    {{footer}}
  </footer>
  <script src="/assets/js/theme.js"></script>
  <script src="/assets/js/site.js"></script>
  <script src="/assets/js/refs.js"></script>
  <script src="/assets/js/scroll-restore.js"></script>
  <script src="/assets/js/load-math-macros.js"></script>
  <script src="/assets/js/link-preview.js"></script>
  {{math_lib}}
</body>
</html>
